<h1>demo#hello</h1>

<p>Hello from demo#hello</p>

<% target = "world" %>

<%= "Hello #{target}" %>
<br /><br />
<% @array.each do |n| %>
<%= n %> <br />
<% end %>

<%= link_to("My first link", {:action => 'index'}) %>